HACKFEST 2024

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [9]:
df = pd.read_csv("dataset_hackfest.csv")
df.shape

(149, 6)

In [10]:
df.head(5)

,LOCATION,HOTEL PRICE,SELF ALLOWANCE,FOOD AND DINING,TRAVEL COST,TOTAL COST
0,KERALA,6500,17000,1300,6500,31300
1,KERALA,3200,17000,1000,6500,27700
2,KERALA,13500,17000,2500,6500,39500
3,KERALA,22100,17000,2700,6500,48300
4,KERALA,9500,17000,2300,6500,35300

In [11]:
dummies = pd.get_dummies(df.LOCATION)

In [12]:
merged = pd.concat([df,dummies],axis='columns')
merged.head()

,LOCATION,HOTEL PRICE,SELF ALLOWANCE,FOOD AND DINING,TRAVEL COST,TOTAL COST,KERALA,RAJASTHAN,SIKKIM
0,KERALA,6500,17000,1300,6500,31300,1,0,0
1,KERALA,3200,17000,1000,6500,27700,1,0,0
2,KERALA,13500,17000,2500,6500,39500,1,0,0
3,KERALA,22100,17000,2700,6500,48300,1,0,0
4,KERALA,9500,17000,2300,6500,35300,1,0,0

In [13]:
final = merged.drop(['LOCATION','KERALA'],axis='columns')
final.head()

,HOTEL PRICE,SELF ALLOWANCE,FOOD AND DINING,TRAVEL COST,TOTAL COST,RAJASTHAN,SIKKIM
0,6500,17000,1300,6500,31300,0,0
1,3200,17000,1000,6500,27700,0,0
2,13500,17000,2500,6500,39500,0,0
3,22100,17000,2700,6500,48300,0,0
4,9500,17000,2300,6500,35300,0,0

In [14]:
X = final.drop('TOTAL COST',axis='columns')  
y = df['TOTAL COST']
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [19]:
model.predict([[3400,17000,5000,7000,0,0]])

c:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([32399.99900888])

In [20]:
model.score(X,y)

1.0

In [16]:
print("Coefficients:")
for feature, coef in zip(X, model.coef_):
    print(f"- {feature}: {coef:.3f}")

print("\nIntercept:", end=" ")
print(f"{model.intercept_:.3f}")

Coefficients:
- HOTEL PRICE: 1.000
- SELF ALLOWANCE: 1.000
- FOOD AND DINING: 1.000
- TRAVEL COST: 1.000
- RAJASTHAN: -0.002
- SIKKIM: -0.001

Intercept: 0.038

In [17]:
print("Coefficients:")
for feature, coef in zip(X, model.coef_):
    print(f"- {feature}: {coef:.3f}")

print("\nIntercept:", end=" ")
print(f"{model.intercept_:.3f}")

Coefficients:
- HOTEL PRICE: 1.000
- SELF ALLOWANCE: 1.000
- FOOD AND DINING: 1.000
- TRAVEL COST: 1.000
- RAJASTHAN: -0.002
- SIKKIM: -0.001

Intercept: 0.038

In [18]:
from sklearn.metrics import r2_score

# Predict travel costs on the data 
y_preds = model.predict(X)

# Calculate R-squared score
r2 = r2_score(y, y_preds)

print("Linear Regression Model Accuracy:")
print(f"R-squared (R2): {r2:.3f}")

Linear Regression Model Accuracy:
R-squared (R2): 1.000